blinker==1.9.0
click==8.1.8
dotenv==0.9.9
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
PySide6==6.8.3
PySide6_Addons==6.8.3
PySide6_Essentials==6.8.3
python-dotenv==1.1.0
qt-material==2.14
shiboken6==6.8.3
Werkzeug==3.1.3
